.hero-banner {
  background: url('../images/banback.svg') no-repeat left 10% center;
  background-size: cover;
  min-height: 25vh;
  position: relative;
}

@media (min-width: 768px) { 
  .hero-banner {
    min-height: 55vh;
    background-size:contain;
    background-position: center center;
  }
}

#product-section {
  background: url('../images/transparent-background.svg') no-repeat;
  background-position: top;

}

#project-section {
  background: url('../images/transparent-background.svg') no-repeat;
  background-position: bottom;

  
}

#mainNavbar{
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
}

.banner-content {
  background: #0000005C;
  color: white;
}

/* Image overlay text */
.text-overlay {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: -3%;
  left: 10%;
  right: 10%;
  height: 15%;
  background: #111010;
  border: 1px solid #FFFFFF;
  border-color: white;
  color: white;
  text-align: center;
  padding: 10px;
  font-weight: 500;
}

.along-row {
  height:30%
}

@media (max-width: 768px) { 
  .text-overlay {
    height: 55px;
  }
  .along-row {
    height: 55px;
  }
  .product-image {
   margin-top: 1rem !important;
  }

  .grouped-product {
    margin-top: 3rem !important;
  }
  .last-product {
    margin-bottom: 2rem;
  }
}

