.hero-banner {
  background: url('/assets/images/banner.png') no-repeat center center;
  background-size: contain;
  min-height: 80vh;
  position: relative;
}

#mainNavbar{
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
}

.banner-content {
  background-color: rgba(0, 0, 0, 0.55);
  color: white;
}

/* Image overlay text */
.text-overlay {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: -3%;
  left: 10%;
  right: 10%;
  height: 15%;
  background: #111010;
  border: 1px solid #FFFFFF;
  border-color: white;
  color: white;
  text-align: center;
  padding: 10px;
  font-weight: 500;
}

.along-row {
  height:30%
}
